<h1>Minhas Listas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= link_to list.name, list %></td>
        <td><%= list.public ? t("Pública") : t("Privada") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Nova Lista', new_list_path %>
<br><br>
<h1>Favoritas</h1>
<table>
<thead></thead>
<tbody>

 
</tbody>
</table>
<br><br>
<%= link_to 'Listas Públicas',  {:controller => 'lists', :action => 'publicas'} %>
<br>

